body{
  margin: 0;
  padding: 0;
    font-family: 'lato';
}
a{
    text-decoration: none;
    color: #3a3a3a;
}
a:hover{
    text-decoration: none;
    color: #ff2021;
}
header{
  background: #ff2021;
}
header .top{
  padding: 0;
    overflow: hidden;
    margin: 0;
}
header .top h1{
    display: block;
    font-size: 20px;
    padding: 0px 20px;
    width: 40%;
    float: left;
}
header .top input{
    display: block;
    float: right;
    margin: 15px 20px;
    width: 25%;
    background-color: #de1818;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 3px;
    color: white;
}
header .top input::-webkit-input-placeholder{
    color: white;
}
header .sticky{
    margin: 0;
    overflow: hidden
}
header .sticky nav{
    margin: 0;
    padding: 0;
    display: block;
    width: 60%;
    float: left;
}
header .sticky nav ul{
    margin: 0;
    padding: 10px 15px;
}
header .sticky nav ul li{
    list-style: none;
    display: inline;
    line-height: 5px;
    border-right: 1px solid white;
    padding: 0 5px;
    text-decoration: none;
    color: white;
}
header .sticky nav ul li:hover{
    color: black;
}
header .sticky nav ul li:last-child{
    border-right: none;
}
header .sticky a{
    float: right;
    padding: 10px 20px;
    color: white;
}
.banner{
    background-image: url(lemperayam.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 450px;
}
.banner-content{
    background-image: url(lemperayam.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content .banner-content-judul{
    font-size: 70px;
    color: white;
    text-shadow: 1px 3px 10px black;
    z-index: 2;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1;
}
.banner .banner-desc{
    position: absolute;
    color: white;
    text-align: right;
    padding: 10px 20px 10px 0px;
    border-right: 5px solid #ff2021;
    bottom: 40px;
    right: 40px;
}
.banner .banner-desc .banner-khas{
    color: #cecece;
    font-style: italic;
}
.banner .banner-desc .banner-judul{
    font-size: 24px;
    line-height: 5px;
    color: white;
}
.judul{
    text-align: center;
    font-size: 30px;
}
.terbaik{
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.terbaik-item{
    width: 30%;
    display: inline-block;
    float: left;
    margin: 0 1%;
    border: 1px solid #ff2021;
    border-radius: 5px;
}
.terbaik-item .terbaik-img{
    background-image: url(nasigoreng.JPG);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.terbaik-item .terbaik-desc{
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.terbaik-item .terbaik-desc .terbaik-judul{
    display: block;
/*    float: left*/
    margin-right: auto;
/*    padding: 5px 0px;*/
}
.terbaik-item .terbaik-desc .terbaik-rate{
    display: block;
/*    float: right;*/
    text-align: center;
    margin-left: auto;
}
.terbaik-item .terbaik-desc .terbaik-rate a{
    display: block;
}
.terbaik-item .terbaik-desc .terbaik-rate a:last-child{
    font-size: 25px;
    font-weight: bold;
    color: #ff2021;
}
.terbaik-item .terbaik-desc .terbaik-rate a:first-child{
    text-transform: uppercase;
}
.terbaik-item .terbaik-desc .terbaik-judul a{
    display: block;
}
.terbaik-item .terbaik-desc .terbaik-judul a:first-child{
    display: block;
    font-size: 20px;
}
.terbaik-item .terbaik-desc .terbaik-judul a:last-child{
    color: #727272;
    font-style: italic;
}
.event{
    height: 350px;
    margin: 50px 0px;
    background-image: url(coto.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.overlay-merah{
    background: rgba(255, 32, 33, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.event .event-desc{
    z-index: 3;
    text-align: center;
    color: white;
}
.event .event-desc h2{
    font-size: 80px;
    line-height: 5px;
    text-shadow: 1px 1px 5px #000;
}
.event .event-desc h2 .small{
    display: inline;
    font-weight: 100;
}
.event .event-desc small{
    line-height: 5px;
    text-shadow: 1px 1px 5px #000;
    font-style: italic;
}
.daftar{
    text-align: center;
}
.daftar h3{
    text-align: center;
    font-size: 40px;
    font-weight: 100;
}
.daftar form input{
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.daftar form input:focus{
    border: 2px solid #333333;
    outline: none;
    padding: 15px 10px;

}
.daftar form input::-webkit-input-placeholder{
    color: #565656;
    font-weight: bold;
}
.daftar form .inp-100{
    display: block;
    width: 97%;
    margin: 10px auto;
    border: 2px solid #ff2021;
    padding: 20px 10px;
}
.daftar form .inp-40{
    display: inline;
    margin: 0 0.3%;
    width: 47%;
    padding: 20px 10px;
    border: 2px solid #ff2021;
}
.daftar form input[type="submit"]{
    display: block;
    margin: 0 auto;
    background: #ff2021;
    border: none;
    width: 99%;
    margin: 10px auto;    
    padding: 15px 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.daftar form input[type="submit"]:hover{
    background: #333333;
}
.content{
    display: flex;
    justify-content: center;
}
.content .main{
    width: 68%;
    margin: 0 1%;
    margin-right: auto;
}
.content .side{
    width: 28%;
    margin: 0 1%;
    margin-left: auto;
    text-align: center;
}
.content .side h5{
    font-size: 25px;
    font-weight: 100;
    line-height: 5px;
    color: #979097;
}
.content .side h2{
    font-size: 85px;
    line-height: 5px;
    color: #ff2021;
}
.login{
    margin: 40px;
    border: 2px solid #ff2021;
    border-radius: 5px;
}
.login h3{
    background: #ff2021;
    font-weight: bold;
    font-size: 14px;
    padding: 15px;
    color: white;
    margin: 0;
    display: block;
}
.login .login-form{
    padding: 50px 10px 10px 10px;
}
.login .login-form input{
    display: block;
    font-size: 16px;
    padding: 15px 20px;
    color: white;
    margin: 10px 10px 10px 10px;
    width: 300px;
    border: none;
    outline: none;
    background: #ff2021;
}
.login .login-form input::-webkit-input-placeholder{
    color: white;
    font-weight: 100;
}
.login .login-form .login-button{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.login .login-form .login-button a{
    display: block;
    margin-right: auto;
    padding: 10px 0px;
}
.login .login-form .login-button button{
    display: block;
    margin-left: auto;
    background: #ff2021;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    color: white;
    padding: 10px 20px;
}
.login .login-with{
    text-align: center;
    padding: 10px;
}
.login .login-with h4{
    font-size: 13px;
}
.login .login-with .login-icon a{
    display: inline-block;
    padding: 5px;
    width: 20px;
    height: 20px;
    background: #ff2021;
    color: white;
    text-transform: uppercase;
}
footer{
    height: 80px;
    margin: 60px 0px 0px 0px;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
footer a{
    color: #b7b2b7;
}